/COMPUTER GRAPHICS AND VISUALIZATION/Projects/*/*.exe
/COMPUTER GRAPHICS AND VISUALIZATION/Projects/*/*.o
/COMPUTER GRAPHICS AND VISUALIZATION/Projects/*/*.layout
/COMPUTER GRAPHICS AND VISUALIZATION/Projects/*/bin
/COMPUTER GRAPHICS AND VISUALIZATION/Projects/*/obj
/COMPUTER GRAPHICS AND VISUALIZATION/Projects/*/*.depend
/COMPUTER GRAPHICS AND VISUALIZATION/Projects/Lab03_exam/points.log
/DATABASE/Database_specyfication.toc
/DATABASE/Include/Chapters/__latexindent_temp.tex
